<!-- /App/app_AddressBilling/get_batch_data.html -->
{% extends "base.html" %}
{% block title %}Get Batch Data{% endblock %}
{% block content %}
<h1>Retrieve Your Batch Data</h1>

<!-- Open in a new tab so we don't block the main page -->
<form 
  action="{{ url_for('get_batch_data') }}" 
  method="post" 
  target="_blank"
>
    <div class="form-group">
        <label for="batch_id">Enter Batch ID:</label>
        <input type="text" id="batch_id" name="batch_id" required class="select-small">
        <button type="submit" class="btn btn-primary">Download Data</button>
    </div>
</form>
{% endblock %}
